{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          You can create an about us template for your company website easily.
          Here’s how a standard layout for an about us page looks.
        </p>
        <p>
          No matter your business, your about page should include:
          A mission statement. This describes the purpose of your business as it relates to the industry or market you serve.
          A vision statement. Outline the future of your business in this section.
          Your values. Core values help the reader connect with you and your business on a personal level.
        </p>
        <p>
          A target market summary. Your site visitors want to know that they’re in the right place and that your company can help them.
          A brief company history. Besides piquing your visitors’ interest, a brief company history can help the press describe your business accurately.
          After you write a draft, you can use one of HubSpot’s done-for-you website templates to create your about page’s layout. These templates can be installed and customized in minutes.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
